.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
    z-index: 9999;
	background: #333;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.pushy a {
  display: block;
  color: #b3b3b1;
  padding: 10px;
  	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 13pt;
}
.pushy a:hover {
  color: #FFF;
}

.pushy ul li {
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #1a1a1a;
}
.pushy-left {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible;
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}
.menu-btn {
  cursor: pointer;
      transition: 0.5s;
}
.menu-btn:hover {
  opacity: 0.6;
    transition: 0.5s;
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}